body {
	margin: 0;
	padding: 0;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 50vw;
	height: 50vh;
}

video:nth-child(1) {
	top: 0;
	left: 0;
}

video:nth-child(2) {
	top: 0;
	left: 50vw;
}

video:nth-child(3) {
	top: 50vh;
	left: 0;
}

video:nth-child(4) {
	top: 50vh;
	left: 50vw;
}
